#container {
    background: #FFFFFF;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 25px;
    width: 50%;
}

#header {
    font-family: 'Press Start 2P', cursive;
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
}

#logo img {
    height: 125px;
}

#instructions {
    font-size: 18px;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
    width: 80%;
}

#goalScore {
    font-size: 22px;
    font-weight: bold;
    padding-top: 0;
}

#record {
    display: inline-block;
    font-size: 20px;
}

#totalScore {
    display: inline-block;
    font-size: 20px;
    padding: 20px 20px;
}



.red-button img {
    height: 130px;
    width: 85px;
}

.blue-button img {
    height: 130px;
    width: 85px;
}

.yellow-button img{
    height: 130px;
    width: 85px;
}

.green-button img {
    height: 130px;
    width: 85px;
}

.btn {
    background: #FFFFFF;
    border: none;
    font-size: 0;
}

#btn-container {
    padding: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
}

body {
    background: rgb(236, 210, 136);
    font-family: 'Acme', sans-serif;
}